/*
body{
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
}
*/
.contenedor{
    display: flex;
    max-width: 100%;
    height: 80vh;
    background-image:url(./Hero.jpeg) ;
    background-repeat: no-repeat;
    background: cover;
}
/*
.subcontenedor{
    max-width: 100px;
    margin: 30px;
    height: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: left;
}

.cajita{
flex-basis: 50%;
color: beige;
text-align: left;
align-self: center;
}

span{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}

.botonRes{
    flex-basis: 30%;
    border: solid 2px;
    border-radius: 30%;
    padding: 10px 30px;
    margin: 20px;
    text-align: center;
    color: rgb(68, 42, 11);
}
*/